__pycache__

*.pyc

data/*.json

data/news/impex/*
data/news/images/*
data/news/dump.json
data/images.json
data/news.json


logs/weg/*
logs/tags/*.json
logs/201*.log

weg-images.zip
weg-logs.zip
weg-impex.zip

.idea/